@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.chart {
    width: 75vw;
    height: 50vh;
    max-width: 900px;
    max-height: 600px;
    margin: auto;

}

.chart--loaded {
    border: 1px solid gray;
}

.chart__wrapper {
    display: flex;
    justify-content: center;
}

.header__title {
    text-align: center;
}

.form {
    width: 75vw;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form__element {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5vh 1vh;
}

.form__button {
    font-family: 'Inconsolata', monospace;
}

/* make the form horizontal on larger screens */
@media only screen and (min-width: 480px) {
    .form {
        width: 75vw;
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}