html,
body {
    height: 100%;
    width: 100%
}

.chart {
    width: 75vw;
    height: 50vh;
    max-width: 900px;
    max-height: 600px;
    margin: auto;
}



.chartwrapper {
    display: flex;
    justify-content: center;
}